In [2]:
import openml
import pandas as pd

datasets = openml.datasets.list_datasets()
print(openml.datasets.list_datasets()[531])

ids = list(datasets.keys())
print("Number of datasets: ", len(ids))

# Removing non-dataset entries 
ids.remove(4537)
ids.remove(4546)
ids.remove(4562)

# Fetching dataset
datasets = openml.datasets.get_datasets(ids, download_data=False, download_qualities=False)

/var/folders/cl/69z7wmcn5xx7cb7wc_xvd8fw0000gn/T/ipykernel_2928/116842758.py:4: FutureWarning: Support for `output_format` of 'dict' will be removed in 0.15 and pandas dataframes will be returned instead. To ensure your code will continue to work, use `output_format`='dataframe'.
  datasets = openml.datasets.list_datasets()
/var/folders/cl/69z7wmcn5xx7cb7wc_xvd8fw0000gn/T/ipykernel_2928/116842758.py:5: FutureWarning: Support for `output_format` of 'dict' will be removed in 0.15 and pandas dataframes will be returned instead. To ensure your code will continue to work, use `output_format`='dataframe'.
  print(openml.datasets.list_datasets()[531])

{'did': 531, 'name': 'boston', 'version': 1, 'uploader': '2', 'status': 'active', 'format': 'ARFF', 'MaxNominalAttDistinctValues': 9.0, 'NumberOfClasses': 0.0, 'NumberOfFeatures': 14.0, 'NumberOfInstances': 506.0, 'NumberOfInstancesWithMissingValues': 0.0, 'NumberOfMissingValues': 0.0, 'NumberOfNumericFeatures': 12.0, 'NumberOfSymbolicFeatures': 2.0}
Number of datasets:  5454

/Users/ivang/miniconda3/envs/openml-tags/lib/python3.11/site-packages/openml/datasets/functions.py:447: FutureWarning: Starting from Version 0.15 `download_data`, `download_qualities`, and `download_features_meta_data` will all be ``False`` instead of ``True`` by default to enable lazy loading. To disable this message until version 0.15 explicitly set `download_data`, `download_qualities`, and `download_features_meta_data` to a bool while calling `get_dataset`.
  get_dataset(dataset_id, download_data, download_qualities=download_qualities),

In [3]:
df = pd.DataFrame([dataset.__dict__ for dataset in datasets])
# Add the OpenML URL to the dataframe
df['openml_url'] = [dataset.openml_url for dataset in datasets]

In [4]:
# filter out only datasets that have an original_data_url
df = df[df['original_data_url'].notna()]
df

,ignore_attribute,dataset_id,name,version,description,cache_format,format,creator,contributor,collection_date,...,parquet_file,_dataset,_parquet_url,_features,_qualities,_no_qualities_found,data_pickle_file,data_feather_file,feather_attribute_file,openml_url
0,None,2,anneal,1,**Author**: Unknown. Donated by David Sterling...,pickle,ARFF,"[David Sterling, Wray Buntine]",David Sterling and Wray Buntine,1990,...,None,None,http://openml1.win.tue.nl/dataset2/dataset_2.pq,"{0: [0 - family (nominal)], 1: [1 - product-ty...",None,False,None,None,None,https://www.openml.org/d/2
1,None,3,kr-vs-kp,1,Author: Alen Shapiro\nSource: [UCI](https://ar...,pickle,ARFF,Alen Shapiro,Rob Holte,1989-08-01,...,None,None,http://openml1.win.tue.nl/dataset3/dataset_3.pq,"{0: [0 - bkblk (nominal)], 1: [1 - bknwy (nomi...",None,False,None,None,None,https://www.openml.org/d/3
2,None,4,labor,1,**Author**: Unknown\n**Source**: Collective Ba...,pickle,ARFF,Collective Bargaining Review of Labour Canada,Stan Matwin,1988-11-01,...,None,None,http://openml1.win.tue.nl/dataset4/dataset_4.pq,"{0: [0 - duration (numeric)], 1: [1 - wage-inc...",None,False,None,None,None,https://www.openml.org/d/4
3,None,5,arrhythmia,1,"**Author**: H. Altay Guvenir, Burak Acar, Hald...",pickle,ARFF,"[H. Altay Guvenir, Burak Acar, Haldun Muderris...",None,1998-01-01,...,None,None,http://openml1.win.tue.nl/dataset5/dataset_5.pq,"{0: [0 - age (numeric)], 1: [1 - sex (nominal)...",None,False,None,None,None,https://www.openml.org/d/5
4,None,6,letter,1,**Author**: David J. Slate \n**Source**: [UCI...,pickle,ARFF,David J. Slate,None,1991-01-01,...,None,None,http://openml1.win.tue.nl/dataset6/dataset_6.pq,"{0: [0 - x-box (numeric)], 1: [1 - y-box (nume...",None,False,None,None,None,https://www.openml.org/d/6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5409,None,45737,yeast,12,This dataset consists of predicting the cellul...,pickle,arff,Juan Carlos Alfaro Jimenez,None,09-02-2024,...,None,None,https://openml1.win.tue.nl/datasets/0004/45737...,"{0: [0 - A1 (numeric)], 1: [1 - A2 (numeric)],...",None,False,None,None,None,https://www.openml.org/d/45737
5410,None,45738,movies,3,This dataset includes demographic data for use...,pickle,arff,Juan Carlos Alfaro Jimenez,None,09-02-2024,...,None,None,https://openml1.win.tue.nl/datasets/0004/45738...,"{0: [0 - A1 (numeric)], 1: [1 - A2 (numeric)],...",None,False,None,None,None,https://www.openml.org/d/45738
5412,None,45741,beans,1,This dataset aims to distinguish seven differe...,pickle,arff,Juan Carlos Alfaro Jimenez,None,12-02-2024,...,None,None,https://openml1.win.tue.nl/datasets/0004/45741...,"{0: [0 - A1 (numeric)], 1: [1 - A2 (numeric)],...",None,False,None,None,None,https://www.openml.org/d/45741
5417,None,45746,cardiotocography,5,The dataset consists of measurements of fetal ...,pickle,arff,Juan Carlos Alfaro Jimenez,None,13-02-2024,...,None,None,https://openml1.win.tue.nl/datasets/0004/45746...,"{0: [0 - A1 (numeric)], 1: [1 - A2 (numeric)],...",None,False,None,None,None,https://www.openml.org/d/45746
5421,None,45755,algae,1,This dataset contains 340 instances concerning...,pickle,arff,Juan Carlos Alfaro Jimenez,None,20-02-2024,...,None,None,https://openml1.win.tue.nl/datasets/0004/45755...,"{0: [0 - A1 (numeric)], 1: [1 - A2 (numeric)],...",None,False,None,None,None,https://www.openml.org/d/45755

In [5]:
# leave in only the columns for dataset_id and original_data_url
df = df[['dataset_id', 'original_data_url']]
df

      dataset_id                                  original_data_url
0              2  https://archive.ics.uci.edu/ml/datasets/Annealing
1              3  https://archive.ics.uci.edu/ml/datasets/Chess+...
2              4  https://archive.ics.uci.edu/ml/datasets/Labor+...
3              5  https://archive.ics.uci.edu/ml/datasets/arrhyt...
4              6  https://archive.ics.uci.edu/ml/datasets/Letter...
...          ...                                                ...
5409       45737      https://archive.ics.uci.edu/dataset/110/yeast
5410       45738       https://grouplens.org/datasets/movielens/1m/
5412       45741  https://archive.ics.uci.edu/dataset/602/dry+be...
5417       45746  https://archive.ics.uci.edu/dataset/193/cardio...
5421       45755  https://archive.ics.uci.edu/dataset/118/coil+1...

[2440 rows x 2 columns]

In [6]:
# Fix broken links to archive.ics.uci
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Chess+(King-Rook+vs.+King-Pawn)', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/22/chess+king+rook+vs+king+pawn'
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Molecular+Biology+(Splice-junction+Gene+Sequences)', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/39/molecular+biology+splice+junction+gene+sequences'
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Tic-Tac-Toe+Endgame', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/29/tic+tac+toe+endgame'
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Connectionist+Bench+(Vowel+Recognition+-+Deterding+Data)', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/176/connectionist+bench+vowel+recognition+deterding+data'
df.loc[df['original_data_url'] == 'http://archive.ics.uci.edu/ml/datasets/Smartphone-Based+Recognition+of+Human+Activities+and+Postural+Transitions', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/286/smartphone+based+recognition+of+human+activities+and+postural+transitions'
df.loc[df['original_data_url'] == 'http://sci2s.ugr.es/keel/dataset.php?cod=63, https://archive.ics.uci.edu/ml/datasets/LED+Display+Domain', 'original_data_url'] = 'https://archive.ics.uci.edu/ml/datasets/LED+Display+Domain'
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Census-Income+%28KDD%29', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/372/census+income+kdd'
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Beijing+PM2.5+Data', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/435/beijing+pm2.5+data'
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Estimation+of+obesity+levels+based+on+eating+habits+and+physical+condition+', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/417/estimation+of+obesity+levels+based+on+eating+habits+and+physical+condition'
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/CNNpred%3A+CNN-based+stock+market+prediction+using+a+diverse+set+of+variables', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/372/cnnpred+cnn+based+stock+market+prediction+using+a+diverse+set+of+variables'
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/haberman\'s+survival', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/43/haberman+s+survival'
# https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/ to https://archive.ics.uci.edu/dataset/102/thyroid+disease
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/102/thyroid+disease'
# https://archive.ics.uci.edu/ml/datasets/Post-Operative+Patient to https://archive.ics.uci.edu/dataset/82/post+operative+patient
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Post-Operative+Patient', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/82/post+operative+patient'
# https://archive.ics.uci.edu/ml/datasets/MONK's+Problems to https://archive.ics.uci.edu/dataset/70/monk+s+problems
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/MONK\'s+Problems', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/70/monk+s+problems'
# archive.ics.uci.edu/ml/datasets/IDA2016Challenge to https://archive.ics.uci.edu/dataset/414/ida2016challenge
df.loc[df['original_data_url'] == 'archive.ics.uci.edu/ml/datasets/IDA2016Challenge', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/414/ida2016challenge'
# http://archive.ics.uci.edu/ml/datasets/Optical+Interconnection+Network+Optical+Interconnection+Network to http://archive.ics.uci.edu/dataset/449/optical+interconnection+network
df.loc[df['original_data_url'] == 'http://archive.ics.uci.edu/ml/datasets/Optical+Interconnection+Network+', 'original_data_url'] = 'http://archive.ics.uci.edu/dataset/449/optical+interconnection+network'
# https://archive.ics.uci.edu/ml/datasets/Pen-Based+Recognition+of+Handwritten+Digits to https://archive.ics.uci.edu/dataset/81/pen+based+recognition+of+handwritten+digits
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Pen-Based+Recognition+of+Handwritten+Digits', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/81/pen+based+recognition+of+handwritten+digits'
# https://archive.ics.uci.edu/ml/datasets/Electrical+Grid+Stability+Simulated+Data+ to https://archive.ics.uci.edu/ml/datasets/Electrical+Grid+Stability+Simulated+Data
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/Electrical+Grid+Stability+Simulated+Data+', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/471/electrical+grid+stability+simulated+data'
# https://archive.ics.uci.edu/ml/datasets/airfoil+self-noise to https://archive.ics.uci.edu/dataset/291/airfoil+self+noise
df.loc[df['original_data_url'] == 'https://archive.ics.uci.edu/ml/datasets/airfoil+self-noise', 'original_data_url'] = 'https://archive.ics.uci.edu/dataset/291/airfoil+self+noise'

In [7]:
import os
if not os.path.exists('./datasets'):
    os.makedirs('./datasets')
df[df['original_data_url'].str.contains('archive.ics.uci.edu')].to_json('./datasets/archive_ics_uci_edu.json', orient='records')
df[df['original_data_url'].str.contains('kaggle')].to_json('./datasets/kaggle.json', orient='records')
df[df['original_data_url'].str.contains
('ebi.ac.uk')].to_json('./datasets/ebi_ac_uk.json', orient='records')

In [8]:
df[df['original_data_url'].str.contains('archive.ics.uci.edu')]

      dataset_id                                  original_data_url
0              2  https://archive.ics.uci.edu/ml/datasets/Annealing
1              3  https://archive.ics.uci.edu/dataset/22/chess+k...
2              4  https://archive.ics.uci.edu/ml/datasets/Labor+...
3              5  https://archive.ics.uci.edu/ml/datasets/arrhyt...
4              6  https://archive.ics.uci.edu/ml/datasets/Letter...
...          ...                                                ...
5408       45736  https://archive.ics.uci.edu/dataset/181/libras...
5409       45737      https://archive.ics.uci.edu/dataset/110/yeast
5412       45741  https://archive.ics.uci.edu/dataset/602/dry+be...
5417       45746  https://archive.ics.uci.edu/dataset/193/cardio...
5421       45755  https://archive.ics.uci.edu/dataset/118/coil+1...

[269 rows x 2 columns]

In [9]:
df.drop_duplicates(subset='original_data_url')[df['original_data_url'].str.contains('archive.ics.uci.edu')]

/var/folders/cl/69z7wmcn5xx7cb7wc_xvd8fw0000gn/T/ipykernel_2928/3849494094.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.drop_duplicates(subset='original_data_url')[df['original_data_url'].str.contains('archive.ics.uci.edu')]

      dataset_id                                  original_data_url
0              2  https://archive.ics.uci.edu/ml/datasets/Annealing
1              3  https://archive.ics.uci.edu/dataset/22/chess+k...
2              4  https://archive.ics.uci.edu/ml/datasets/Labor+...
3              5  https://archive.ics.uci.edu/ml/datasets/arrhyt...
4              6  https://archive.ics.uci.edu/ml/datasets/Letter...
...          ...                                                ...
5408       45736  https://archive.ics.uci.edu/dataset/181/libras...
5409       45737      https://archive.ics.uci.edu/dataset/110/yeast
5412       45741  https://archive.ics.uci.edu/dataset/602/dry+be...
5417       45746  https://archive.ics.uci.edu/dataset/193/cardio...
5421       45755  https://archive.ics.uci.edu/dataset/118/coil+1...

[178 rows x 2 columns]

In [10]:
df[df['original_data_url'].str.contains('kaggle')]

      dataset_id                                  original_data_url
193          273  https://www.kaggle.com/stefanoleone992/imdb-ex...
1041        1219         https://www.kaggle.com/c/kddcup2012-track2
1117        1414   http://www.kaggle.com/c/bike-sharing-demand/data
2406       23517  https://www.kaggle.com/datasets/numerai/encryp...
2485       40916                                         kaggle.com
2547       41162        https://www.kaggle.com/salilchitnis/carvana
2564       41275  https://www.kaggle.com/zynicide/wine-reviews#w...
2596       41496        https://www.kaggle.com/mousehead/songlyrics
2921       42074  https://www.kaggle.com/zynicide/wine-reviews/h...
2922       42076  https://www.kaggle.com/kemical/kickstarter-pro...
2924       42079  https://www.kaggle.com/harlfoxem/housesalespre...
2931       42092  https://www.kaggle.com/harlfoxem/housesalespre...
2940       42108                                         kaggle.com
2952       42133  https://www.kaggle.com/rtatman/chocolate-bar-r...
2963       42165  https://www.kaggle.com/c/house-prices-advanced...
2964       42166  https://www.kaggle.com/rtatman/chocolate-bar-r...
2990       42206  https://www.kaggle.com/c/porto-seguro-safe-dri...
3016       42349  https://www.kaggle.com/MIMBCD-UI/uta4-sm-vs-mm...
3035       42397  https://www.kaggle.com/datasets/mlg-ulb/credit...
3123       42563  https://www.kaggle.com/c/house-prices-advanced...
3127       42570  https://www.kaggle.com/c/mercedes-benz-greener...
3128       42571  https://www.kaggle.com/c/allstate-claims-severity
3129       42572  https://www.kaggle.com/c/santander-value-predi...
3163       42635  https://www.kaggle.com/harlfoxem/housesalespre...
3194       42688  https://www.kaggle.com/rubenssjr/brasilian-hou...
3225       42731  https://www.kaggle.com/harlfoxem/housesalespre...
3232       42742  https://www.kaggle.com/c/porto-seguro-safe-dri...
3258       42806    https://www.kaggle.com/dansbecker/nba-shot-logs
3443       43121  https://www.kaggle.com/xiaozhouwang/2nd-place-...
4059       43900  https://www.kaggle.com/competitions/amazon-emp...
4070       43924  https://www.kaggle.com/datasets/ishadss/eucaly...
4073       43927  https://www.kaggle.com/datasets/neuromusic/avo...
4076       43939  https://www.kaggle.com/datasets/camnugent/cali...
4312       44224  https://www.kaggle.com/datasets/varshapandey/a...
4313       44225  https://www.kaggle.com/datasets/varshapandey/a...
4314       44226  https://www.kaggle.com/datasets/andieminogue/n...
4315       44227   https://www.kaggle.com/datasets/mahreen/sato2015
4316       44228  https://www.kaggle.com/datasets/raumonsa11/chu...
4317       44229      https://www.kaggle.com/c/dsntelecomschurn2018
4318       44230      https://www.kaggle.com/c/dsntelecomschurn2018
4319       44231  https://www.kaggle.com/datasets/dimitaryanev/m...
4321       44233      https://www.kaggle.com/c/dsntelecomschurn2018
4323       44235  https://www.kaggle.com/datasets/mlg-ulb/credit...
4324       44236  https://www.kaggle.com/datasets/mlg-ulb/credit...
4904       44983  https://www.kaggle.com/datasets/deepcontractor...
4910       44989  https://www.kaggle.com/datasets/harlfoxem/hous...
4911       44990  https://www.kaggle.com/datasets/rubenssjr/bras...
4917       45012  https://www.kaggle.com/datasets/stefanoleone99...
4987       45082  https://www.kaggle.com/datasets/datamunge/sign...
5291       45567  https://www.kaggle.com/competitions/home-credi...
5298       45577         https://www.kaggle.com/c/GiveMeSomeCredit/

In [11]:
df[df['original_data_url'].str.contains('ebi.ac.uk')]

      dataset_id                                  original_data_url
1277        3040  https://www.ebi.ac.uk/chembl/target/inspect/CH...
1278        3041  https://www.ebi.ac.uk/chembl/target/inspect/CH...
1279        3042  https://www.ebi.ac.uk/chembl/target/inspect/CH...
1280        3043  https://www.ebi.ac.uk/chembl/target/inspect/CH...
1281        3044  https://www.ebi.ac.uk/chembl/target/inspect/CH...
...          ...                                                ...
2354        4127  https://www.ebi.ac.uk/chembl/target/inspect/CH...
2355        4128  https://www.ebi.ac.uk/chembl/target/inspect/CH...
2356        4129  https://www.ebi.ac.uk/chembl/target/inspect/CH...
2357        4130  https://www.ebi.ac.uk/chembl/target/inspect/CH...
2358        4131  https://www.ebi.ac.uk/chembl/target/inspect/CH...

[1082 rows x 2 columns]

In [12]:
df.drop_duplicates(subset='original_data_url')['original_data_url']

0       https://archive.ics.uci.edu/ml/datasets/Annealing
1       https://archive.ics.uci.edu/dataset/22/chess+k...
2       https://archive.ics.uci.edu/ml/datasets/Labor+...
3       https://archive.ics.uci.edu/ml/datasets/arrhyt...
4       https://archive.ics.uci.edu/ml/datasets/Letter...
                              ...
5408    https://archive.ics.uci.edu/dataset/181/libras...
5409        https://archive.ics.uci.edu/dataset/110/yeast
5412    https://archive.ics.uci.edu/dataset/602/dry+be...
5417    https://archive.ics.uci.edu/dataset/193/cardio...
5421    https://archive.ics.uci.edu/dataset/118/coil+1...
Name: original_data_url, Length: 1573, dtype: object

In [13]:
os.getcwd()

'/Users/ivang/PycharmProjects/pythonProject/scrapy'

In [14]:
import json
with open('./openml_tags/openml_tags/spiders/data/archive_ics_uci_edu.json') as f:
    data = json.load(f)
    
print(len(data))

with open('./datasets/archive_ics_uci_edu.json') as f:
    data = json.load(f)

print(len(data))

267
269

In [16]:
# same but for ebi
with open('./openml_tags/openml_tags/spiders/data/ebi_ac_uk.json') as f:
    data = json.load(f)
    
print(len(data))

with open('./datasets/ebi_ac_uk.json') as f:
    data = json.load(f)

print(len(data))

1069
1082